SPRING_DATASOURCE_URL=jdbc:postgresql://
SPRING_DATASOURCE_USERNAME=your_database_user
SPRING_DATASOURCE_PASSWORD=your_database_password

SPRING_CACHE_TYPE=TYPE
SPRING_DATA_REDIS_HOST=HOST
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=PASSWORD
SPRING_DATA_REDIS_SSL_ENABLED=true